<form [formGroup]="myForm">
  <div>
    Taille terrain :
    <input type="number" formControlName="fieldWidth">
    <input type="number" formControlName="fieldHeight">
  </div>

  <div>
    Taille cellule :
    <input type="number" formControlName="cellWidth">
    <input type="number" formControlName="cellHeight">
  </div>
</form>

<div>
  <button (click)="togglePlay()">
    <ng-container *ngIf="!play">Play</ng-container>
    <ng-container *ngIf="play">Pause</ng-container>
  </button>

  <button (click)="getNextStep()" [disabled]="play">Step</button>
</div>

<c7z-game-of-life [fieldWidth]="fieldWidth" [fieldHeight]="fieldHeight" [cellWidth]="cellWidth" [cellHeight]="cellHeight" #gameOfLife (changedStatus)="isPlaying($event)"></c7z-game-of-life>
